cache/
artifacts/

coverage*
typechain-types/
typechain
.vscode/*
!.vscode/settings.json.default
!.vscode/launch.json.default
!.vscode/extensions.json.default

node_modules/
.env

.prettierrc.js
pnpm-lock.yaml

contractsInfo.json
deployments/hardhat
deployments/localhost
deployed_addresses/hardhat

/.dapp
out
cache_forge

.ityfuzz
.tmp
build-info
results.json